// $white: #fff;
// $dark: #28435C;
// $grey: #BBCDDC;
// $grey-light: #F0F4F7;
// $grey-dark: #8291B2;
// $yellow: #FAB933;
// $purple: #873DF1;
// $green: #4FCFAD;
// $blue: #60A9FE;


$base: #262525;
$bgGray: #F0F0F0;
$bgWhite: #FFFFFF;
$accent: #D88F5E;
$bgAccent: #EBD8CC;
$textDisable: #505050;