.Layout {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 60px 0;

    &__body {
        flex-grow: 1;
        position: relative;
    }
}

// .fade-enter-active, .fade-leave-active {
//     transition-property: opacity;
//     transition-duration: 10s;
// }

// .fade-enter-active {
//     transition-delay: 10s;
// }

// .fade-enter, .fade-leave-active {
//     opacity: 0
// }